<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>iCleaner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StationManager</display-name>
    <servlet-name>StationManager</servlet-name>
    <servlet-class>com.controller.StationManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationManager</servlet-name>
    <url-pattern>/StationManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManager</display-name>
    <servlet-name>AdminManager</servlet-name>
    <servlet-class>com.controller.AdminManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManager</servlet-name>
    <url-pattern>/AdminManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPeopleManager</display-name>
    <servlet-name>SendPeopleManager</servlet-name>
    <servlet-class>com.controller.SendPeopleManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPeopleManager</servlet-name>
    <url-pattern>/SendPeopleManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.controller.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManager</display-name>
    <servlet-name>CategoryManager</servlet-name>
    <servlet-class>com.controller.CategoryManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManager</servlet-name>
    <url-pattern>/CategoryManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceManager</display-name>
    <servlet-name>PriceManager</servlet-name>
    <servlet-class>com.controller.PriceManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductManager</display-name>
  	<servlet-name>ProductManager</servlet-name>
  	<servlet-class>com.controller.ProductManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrderManager</display-name>
  	<servlet-name>OrderManager</servlet-name>
  	<servlet-class>com.controller.OrderManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PickUpManager</display-name>
  	<servlet-name>PickUpManager</servlet-name>
  	<servlet-class>com.controller.PickUpManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CompanyManager</display-name>
  	<servlet-name>CompanyManager</servlet-name>
  	<servlet-class>com.controller.CompanyManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MemberCardManager</display-name>
  	<servlet-name>MemberCardManager</servlet-name>
  	<servlet-class>com.controller.MemberCardManager</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CustomerManager</display-name>
  	<servlet-name>CustomerManager</servlet-name>
  	<servlet-class>com.controller.CustomerManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceManager</servlet-name>
    <url-pattern>/PriceManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductManager</servlet-name>
  	<url-pattern>/ProductManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderManager</servlet-name>
  	<url-pattern>/OrderManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PickUpManager</servlet-name>
  	<url-pattern>/PickUpManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompanyManager</servlet-name>
  	<url-pattern>/CompanyManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberCardManager</servlet-name>
  	<url-pattern>/MemberCardManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerManager</servlet-name>
  	<url-pattern>/CustomerManager</url-pattern>
  </servlet-mapping>
</web-app>